{{!-- 
<nav class=" navbar navbar-dart bg dart mb-4">


<div class="container"></div>
<a href="/" class="navbar-brand"> CRUD nodejs and Mongodb</a>
</nav> --}}



<nav class="navbar navbar-dark bg-black mb-4">
      <div class="container">
        <a href="/" class="navbar-brand">CRUD Nodejs and Mongodb</a>
      </div>
    </nav>